.divOfImages{
    width: 98vw;
    display: flex;
    justify-content: center;
}

.imageClass{
    width: 28%;
    height: 60vh;
    transition: transform .2s;
    padding: 2%;
    
}

.imageClass:hover {
    transform: scale(1.1); 
  }
  .headerCards{
    font-family: 'Stardos Stencil', cursive;
    font-size: 60px;
}

  @media screen and (min-device-width:10px) and (max-device-width:420px){
    .imageClass{
        width: 28%;
        height: 30vh;
    }
  }